<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <link rel="shortcut icon" href="../image/icon/activityVitalSign.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/">
        <script type="module" src="../js/"></script>
        <title>VITAL SIGN | EYELESSCODE</title>
    </head>
    <body>
        <header>
            <h1>
                VITAL SIGN
            </h1>
        </header>

        <section>
            <div class="tableVitalSign">
                <table id="tbVitalSign">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody id="tbBodyVitalSign">
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>


        </section>
    </body>
</html>
