*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--color-primario: darkgreen;
	--color-secundario: beige;
	--acento: yellow;
	--color-texto: black;
}

body{
	background-color: var(--color-secundario);
	color: var(--color-texto);
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	min-width: 100vw;
	font-size: 1.2em;
}

.contenedor>*{
	padding: 10px;
	border-radius: 5px;
	border: 3px solid black;
	/* text-align: center; */
}

.contenedor{
	display: grid;
	gap: 20px;
	grid-template: 
		"header" auto
		"main" auto
		"footer" auto
	;

	.header{
		/* background-color: orange; */
		grid-area: header;
	}
	.main{
		/* background-color: red; */
		grid-area: main;
	}
	.footer{
		/* background-color: gray; */
		grid-area: footer;
	}

	@media (min-width:768px) {
		grid-template: 
			"header" auto
			"main" auto
			"footer" auto
		;
	}

	@media (min-width:1280px) {
		grid-template: 
			"header header" auto
			"main main" auto
			"footer footer" auto
		;
	}

	@media (min-width:1680px) {
		grid-template: 
			"header header header" auto
			"main main main" auto
			"footer footer footer" auto
		;
	}
}

header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color-primario);
}

.logo{
	display: flex;
	align-items: center;
	gap: 10px;
}

.menu{
	display: flex;
	flex-flow: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.submenu,.sub-submenu{
	display: none;
	position: absolute;
	min-width: 100%;
}

.submenu{
	top: 100%;
	left: 0;
	text-align: center;
	border-radius: 10px;
}

.sub-submenu{
	top: 0;
	right: 100%;
}

.item{
	list-style: none;
	position: relative;
}

.item:hover .submenu,
.submenu>.item:hover .sub-submenu{
	display: block;
	background-color: aquamarine;
}

.link-a{
	text-decoration: none;
	color: white;
	padding: 1rem;
	border-radius: 10px;
	display: block;
}

.link-a:hover{
	background-color: violet;
}
