<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <link rel="shortcut icon" href="./image/icon/activityVitalSign.ICO"
            type="image/x-icon">
        <link rel="stylesheet" href="./css/vitalSign.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_insert" />
        <!-- <script type="module" src="../js/connection/connection.js"></script> -->
        <title>VITAL SIGN | EYELESSCODE</title>
    </head>
    <body>
        <header>
            <h1>
                VITAL SIGN
            </h1>
        </header>

        <section>
            <div class="container">
                <table id="tbVitalSign">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody id="tbBodyVitalSign">
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="containerBody">
                <div class="input-container">
                    <input type="text" name="text" class="input"
                        placeholder="search id...">
                    <span class="icon">
                        <svg width="19px" height="19px" viewBox="0 0 24 24"
                            fill="none" xmlns="http://www.w3.org/2000/svg"><g
                                id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"></g><g
                                id="SVGRepo_iconCarrier"> <path opacity="1"
                                    d="M14 5H20" stroke="#000"
                                    stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path> <path
                                    opacity="1" d="M14 8H17" stroke="#000"
                                    stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path> <path
                                    d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2"
                                    stroke="#000" stroke-width="2.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"></path> <path
                                    opacity="1" d="M22 22L20 20" stroke="#000"
                                    stroke-width="3.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path> </g></svg>
                    </span>
                </div>
            </div>

            <div class="containerFooter">
                <!-- <button id="btnAddVitalSign">ADD</button> -->
                <!-- <button id="btnAddVitalSign">ADD</button> -->
                <!-- <button id="btnAddVitalSign">ADD</button> -->

                <button class="btnInsertClass" id="btnInsert">
                    Insert
                    <svg class="svgInsert" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"> <path
                            d="M438.6 233.4L182.6 9.4C173.9 2.3 160 5.8 160 16v96H16C7.2 112 0 119.2 0 128v256c0 8.8 7.2 16 16 16h144v96c0 10.2 13.9 13.7 22.6 6.6l256-224c8.3-7.3 8.3-20.7 0-28zM288 361v-98h128l-128-98v98H48V271h240v90z"></path>
                    </svg>
                </button>

                <button class="btnUpdateClass" id="btnUpdate">
                    Edit
                    <svg viewBox="0 0 512 512" class="svgUpdate">
                        <path
                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                        </path>
                    </svg>
                </button>

                <button class="btnDeleteClass" id="btnDelete">
                    Delete
                    <svg viewBox="0 0 448 512" class="svgDelete"> <path
                            d="M135.168 512h177.664c17.674 0 32.089-14.455 31.716-32.126L326.41 184H121.589l-18.138 295.874C103.079 497.545 117.494 512 135.168 512zM432 32H312l-16.618-24.928C290.646 2.815 284.978 0 278.657 0H169.343c-6.321 0-11.988 2.816-16.726 7.072L136 32H16C7.163 32 0 39.163 0 48v16c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16V48c0-8.837-7.163-16-16-16zm-48.435 64H64.435l7.5 144h304.13l7.5-144z" />
                    </svg>
                </button>

                <button class="btnCancelClass" id="btnCancel">
                    Cancel
                    <svg viewBox="0 0 16 16" class="svgCancel"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 1 0-.908-.417A6 6 0 1 0 8 2z" />
                        <path
                            d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                    </svg>
                </button>

            </div>
        </section>
    </body>
</html>
