<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <link rel="shortcut icon" href="../image/icon/activityVitalSign.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/vitalSign.css">
        <!-- <script type="module" src="../js/connection/connection.js"></script> -->
        <title>VITAL SIGN | EYELESSCODE</title>
    </head>
    <body>
        <header>
            <h1>
                VITAL SIGN
            </h1>
        </header>

        <section>
            <div class="container">
                <table id="tbVitalSign">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody id="tbBodyVitalSign">
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="containerFooter">
                <!-- <button id="btnAddVitalSign">ADD</button> -->
                <!-- <button id="btnAddVitalSign">ADD</button> -->
                <!-- <button id="btnAddVitalSign">ADD</button> -->

                <button class="btnAddClass" type="button" id="btnAdd">
                    <span class="button__text">Insert</span>
                    <span class="button__icon"><svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="12" x2="12" y1="5" y2="19"></line><line x1="5" x2="19" y1="12" y2="12"></line></svg></span>
                </button>

            </div>
        </section>
    </body>
</html>
