<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <link rel="shortcut icon"
            href="/image/icon/icons8-personal-hotspot-96.ICO"
            type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        <script src></script>
        <title>Portafolio personal | Cristhian Guedes</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="#"><img src="/image/logo-01.webp" alt="Logo"></a>
                <h1>Portafolio personal</h1>
            </div>

            <nav>
                <ul class="secciones">
                    <li>
                        <a href="#"><p>Mi portafolio</p></a>
                    </li>
                    <li>
                        <a href="#"><p>Más sobre mí</p></a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>PROYECTOS</h1>
            <section id="proyectos" class="proyectos">
                <article class="tarjeta-1">
                    <h2>FRONTEND_BACKEND</h2>
                    <div class="galeria">
                        <img src alt="galeria-1">
                        <img src alt="galeria-2">
                        <img src alt="galeria-3">
                    </div>
                    <h3>Información</h3>
                    <p>
                        Un proyecto con una historia de su creación y proceso
                        muy<strong> interesante</strong>.
                        Este proyecto es un<strong> Gestionador de<em> Fichas
                                Médicas</em></strong>, permite<strong>
                            registrar, listar, eliminar y editar<em>
                                Pacientes</em></strong>;<strong> listar<em>
                                Centros Médicos</em></strong>;<strong>
                            listar<em> Enfermeros/as</em></strong> y
                        la<strong><em> Toma de Signos</em></strong> junto con
                        los<strong><em> Signos del Paciente</em></strong>.
                    </p>
                    <h3>Técnologías implementadas</h3>
                    <ul>
                        <li><span style="color: red;">HTML</span></li>
                        <li><span
                                style="color: rgb(150, 150, 0);">JavaScript</span></li>
                        <li><span style="color: rgb(24, 154, 154);">CSS</span></li>
                        <li><span style="color: blue;">TypeScript</span></li>
                        <li><span title="Pieza clave del proyecto!"
                                id="rgbColor">NodeJS (Framework)</span></li>
                    </ul>
                </article>
                <article class="tarjeta-2">
                    <h2>EDIFICAPRO</h2>
                    <div class="galeria">
                        <img src alt="galeria-1">
                        <img src alt="galeria-2">
                        <img src alt="galeria-3">
                    </div>
                    <h3>Información</h3>
                    <p>
                        Un proyecto de<strong> autoaprendizaje</strong>. Es
                        un<strong><em> Gestionador de Actividades</em></strong>
                        para<strong> Obreros</strong>.
                    </p>
                    <h3>Técnologías implementadas</h3>
                    <ul>
                        <li><span style="color: red;">HTML</span></li>
                        <li><span
                                style="color: rgb(150, 150, 0);">JavaScript</span></li>
                        <li><span style="color: rgb(24, 154, 154);">CSS</span></li>
                        <li><span style="color: blue;">TypeScript</span></li>
                        <li><span title="Pieza clave del proyecto!"
                                id="rgbColor">NodeJS (Framework)</span></li>
                    </ul>
                </article>
                <article class="tarjeta-3">
                    <h2>PLANES VIVIENDA</h2>
                    <div class="galeria">
                        <img src alt="galeria-1">
                        <img src alt="galeria-2">
                        <img src alt="galeria-3">
                    </div>
                    <h3>Información</h3>
                    <p>
                        Un proyecto realizado en clases. Permite<strong> comprar<em> residencias/viviendas</em></strong>.
                    </p>
                    <h3>Técnologías implementadas</h3>
                    <ul>
                        <li><span style="color: red;">HTML</span></li>
                        <li><span title="Pieza clave del proyecto!"
                                id="rgbColor">JavaScript</span></li>
                        <li><span style="color: rgb(24, 154, 154);">CSS</span></li>
                    </ul>
                </article>
            </section>
            <section id="skills"></section>
        </main>

        <footer>
            <p>Derechos reservados a<span> &copy;Cristhian Guedes</span></p>
        </footer>
    </body>
</html>
