<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        <script src=""></script>
        <title>Portafolios personal | Cristhian Guedes</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="" alt="Logo">
            </div>

            <nav>
                <ul class="secciones">
                    <li>
                        <a href="#">Mi portafolio</a>
                    </li>
                    <li>
                        <a href="#">Más sobre mí</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="proyectos"></section>
            <section id="skills"></section>
        </main>

        <footer>
            <p>Derechos reservados a &copy;Cristhian Guedes</p>
        </footer>
    </body>
</html>
