*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(211, 153, 76);
    color: white;
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: black;
}

main{
    display: grid;
    font-size: 1em;
}

nav>ul{
    display: flex;
    font-size: 1.3em;
    list-style: none;
}

nav>li{
    position: relative;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: all 0.3s ease;
}

nav>ul>li:hover{
    border-radius: 25px;
    background-color: rgb(164, 119, 61);
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo>a>img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 7.5px;
    position: relative;
    border: 7px solid;
    transition: all 0.3s ease;
    animation: rgbBorder 2s infinite;
    cursor: pointer;
}

.logo>a>img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo>h1{
    font-size: 2em;
    position: relative;
    margin: 0 7.5px;
}

.logo>h1::after{
    content: "";
    left: 0;
    bottom: 0;
}

@keyframes rgbBorder {
    0%{
        border-color: red;
    }
    25%{
        border-color: green;
    }
    50%{
        border-color: blue;
    }
    75%{
        border-color: yellow;
    }
    100%{
        border-color: red;
    }
}

@keyframes rgbBackground{
    0%{
        background-color: red;
    }
    25%{
        background-color: green;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}
