*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(211, 153, 76);
    color: white;
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 20vh 20vh;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: black;

    main>h1{
        font-size: 3em;
        margin: 0 550px 20px;
        text-align: center;
        position: relative;
        background-color: rgb(253, 187, 100);
        border-radius: 0 0 45vh 45vh;
        padding: 5px 0 15px;
    }
}

main{
    display: grid;
    font-size: 1em;
}

nav>ul{
    display: flex;
    font-size: 1.3em;
}

ul{
    list-style: none;
}

nav>li{
    position: relative;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: all 0.3s ease;
}

nav>ul>li:hover{
    border-radius: 25px;
    background-color: rgb(164, 119, 61);
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;

    h1{
        font-size: 2em;
        position: relative;
        margin: 0 7.5px;
        transition: all 0.3s ease;
        animation: rgbColor 2s infinite;
    }
}

.logo>a>img{
    width: min(77.5vw,120px);
    /* height: 120px; */
    border-radius: 50%;
    margin: 0 7.5px;
    position: relative;
    border: 7px solid;
    transition: all 0.3s ease;
    animation: rgbBorder 2s infinite;
    cursor: pointer;
}

.logo>a>img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main>section{
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, 50%));
    justify-content: center;
    gap: 1.5%;
}

section>article{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    margin: 0 2%;
    text-align: center;
    border: 2px solid;
    overflow: hidden;
    transition: all 0.3s ease;

    h2{
        font-size: 2em;
        margin: 10px 0 20px;
        position: relative;
    }
}

section>.tarjeta-1{
    background-color: greenyellow;
    border-color: green;
}

section>.tarjeta-2{
    background-color: darkgoldenrod;
    border-color: yellow;
}

section>.tarjeta-3{
    background-color: deeppink;
    border-color: purple;
}

.tarjeta-1:hover,.tarjeta-2:hover,
.tarjeta-3:hover{
    transform: scale(1.02);
}

section>.galeria{
}

@keyframes rgbBorder {
    0%{
        border-color: red;
    }
    25%{
        border-color: green;
    }
    50%{
        border-color: blue;
    }
    75%{
        border-color: yellow;
    }
    100%{
        border-color: red;
    }
}

@keyframes rgbColor {
    0%{
        color: red;
    }
    25%{
        color: green;
    }
    50%{
        color: blue;
    }
    75%{
        color: yellow;
    }
    100%{
        color: red;
    }
}

@keyframes rgbBackground{
    0%{
        background-color: red;
    }
    25%{
        background-color: green;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}
