body{
    margin: 0;
    padding: 0;
    /* background-color: bisque; */
    background-image: url("/images/background.webp");
    /* background-image: url("/images/background2.webp.webp"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

header>h1:hover{
    color: black;
}

header>h1>#SYellow{
    color: rgb(215, 215, 0);
}

header>h1>#SBlue{
    color: blue;
}

header>h1>#SRed{
    color: red;
}

header>h1>span{
    color: aqua;
}

.bodyContainer{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* .X{
    align-items: center;
} */

.X>.visits{
    /* Aquí iba a ponerlo en forma de columna,
    pero no es aquí sino en payment
    para el elemento visits */
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 110%;
}

.visits>legend~label{
    padding: 0 15px;
}

.visits>label>input{
    text-align: center;
    border-radius: 25px;
    border-color: black;
    border-style: hidden;
}

/* .visits>label>input:hover{
    border-color: red;
} */

/* .visits>legend{
    transition: color 0.3s ease;
} */

/* .visits>legend:hover{
    color: red;
} */

.X>fieldset,.Y>fieldset,
.Z>fieldset, .C>fieldset{
    width: 50%;
    transition: all 0.3s ease;
    border-color: yellow;
    /* backdrop-filter: blur(10px); */
    border-radius: 25px;
}

.X>fieldset:hover,.Y>fieldset:hover,
.Z>fieldset:hover, .C>fieldset:hover{
    transform: scale(1.1);
    margin-left: 20px;
    box-shadow: 0 0 18px blue;
    background-color: yellow;
    border-color: blue;

    color: red;
}

header>h1{
    transition: color 0.3s ease;
    color: magenta;
    text-align: center;
}

fieldset>legend{
    font-size: 200%;
    text-align: center;
    font-weight: bolder;
}

.Y>.customer,.Z>.sities,
.C>.payment{
    display: flex;
    flex-flow: column wrap;

    width: 25%;
    transition: all 0.3s ease;
    font-size: 110%;
    justify-content: center;
    align-content: center;
    
    padding: 20px;
    margin: 25px;
    text-align: center;
}

.customer>label,.payment>label,
.sities>label{
    display: block;
    padding: 15px;
    align-content: center;
    font-weight: bolder;

}

.customer>label>input,
.payment>label>input,
.sities>label>input{
    border-radius: 25px;
    border-color: black;
    border-style: hidden;
    padding: 10px 25px;
}

.customer>label>button{
    border-style: hidden;
    background-color: transparent;
    color: blue;
    transition: all 0.3s ease;
    text-align: center;
}

.customer>label>button:active{
    border-style: solid;
    color: yellow;
    background-color: blue;

}

div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div>button{
    padding: 10px 25px;
    border-radius: 45px;
    transition: all 0.3s ease;
}

div>button:hover,label>select:hover{
    background-color: gray;
    color: blue;
}

label>select{
    border-radius: 25px;
}

div>button:active,label>select:active{
    color: yellow;
    background-color: blue;
}

#txtIva{
    text-align: center;
}

/* .sities>label{
    display: block;
    padding: 15px;
    align-content: center;
} */

/* .sities>label>input{
    border-radius: 25px;
    border-color: black;
    border-style: hidden;
    padding: 10px 25px;
} */

/* .Y>fieldset:hover{
    transform: scale(1.1);
    margin-left: 20px;
    box-shadow: 0 0 18px blue;
    background-color: yellow;
    color: red;
} */

/* .Z>.sities{
    display: flex;
    flex-flow: column wrap;

    width: 25%;
    transition: all 0.3s ease;
    font-size: 110%;
    justify-content: center;
    align-content: center;
    
    padding: 20px;
    margin: 25px;
} */


footer>p>span{
    color: blueviolet;
}

footer>p{
    transition:  color 0.3s ease;
    text-align: center;
    font-size: 150%;
    color: white;
}

footer>p:hover{
    color: darkcyan;
}

main~footer{
    background-color: black;
    border-radius: 50% 50% 0 0;
    padding: 5px;
}