@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 1em;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    color: black;
}

header{
    background-color: darkblue;
    color: white;
    /* display: flex; */
    /* flex-flow: row; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* position: fixed; */
    width: 100%;
    height: 10vh;
}

header .header_container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 1rem; */
    width: 100%;
    height: 100%;
}

.header_container .logo_container{
    display: flex;
    flex-flow: row;
    gap: 0.2em;
    align-items: center;
    margin: 0 0 0 1.4rem;
    margin-left: 5px;
}

.header_container .logo_container p{
    font-weight: bold;
}

.logo_container p #pExtraLogo{
    font-size: 1.5em;
    color: cyan;
}

.btn_mobileMenu #btnAbrirMenuMobile,
.btn_mobileMenu #btnCerrarMenuMobile{
    display: none;
    color: white;
}

.btn_mobileMenu #btnAbrirMenuMobile:active,
.btn_mobileMenu #btnCerrarMenuMobile:active{
    background-color: cyan;
    color: black;
}

.header_container .nav_container{
    background-color: darkblue;
}

.list_container .list_items a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

/*? CELULARES */
@media screen and (max-width:550px) {
    .btn_mobileMenu #btnAbrirMenuMobile,
    .btn_mobileMenu #btnCerrarMenuMobile{
        display: block;
        margin-left: 40px;
        font-size: 2em;
        border-style: none;
        background-color: transparent;
        border-radius: 10px;
        /* color: white; */
    }

    .btn_mobileMenu #btnCerrarMenuMobile{
        position: relative;
        right: 4rem;
    }

    .header_container .nav_container{
        display: flex;
        flex-flow: column;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        /* background-color: darkblue; */
        bottom: 0;
        padding: 2.5rem;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .header_container .nav_visible{
        opacity: 1;
        visibility: visible;
    }


    .nav_container .list_container{
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: end;
        gap: 1.5rem;
    }
}
